/*Table sort*/
.thead-inverse th {
    background-color: #373a3c;
    color: #fff;
}

tbody.sorting_1 {
 background-color: #373a3c;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
margin:10px;
}

.table-of-data {
    margin:10px; 
}